name: Run SignUp Test

on:
  push:
    branches:
      - "main"        # runs tests on any branch push
  pull_request:
    branches:
      - "main"        # runs tests on any PR to any branch

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest


      - name: Run tests
        run: pytest test/testsignup.py
        